.todo-card {
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 12px;
}

.add-todo-input {
  height: 35px;
  width: 300px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  height: 35px;
  width: 80px;
  margin-left: 5px;
}
